In [50]:
import pandas as pd
import numpy as np
sub=pd.read_csv("subs.csv")
vk=pd.read_csv("kohli_ipl.csv")
movies=pd.read_csv("bollywood.csv")

In [22]:
sub

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [23]:
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [24]:
movies

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

1. astype()

In [25]:
import sys
sys.getsizeof(vk)

3604

In [26]:
sys.getsizeof(vk.astype("int16"))

1024

2. between()   -->  deleted function

In [27]:
vk[vk.between(51,99)]

AttributeError: 'DataFrame' object has no attribute 'between'

3. clip()

In [ ]:
sub

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [ ]:
sub.clip(100,200)

     Subscribers gained
0                   100
1                   100
2                   100
3                   100
4                   100
..                  ...
360                 200
361                 200
362                 155
363                 144
364                 172

[365 rows x 1 columns]

4. drop_duplicates()

In [ ]:
temp=pd.Series([1,1,2,2,3,3,4,4,5,5,6,6])
temp

0     1
1     1
2     2
3     2
4     3
5     3
6     4
7     4
8     5
9     5
10    6
11    6
dtype: int64

In [ ]:
temp.drop_duplicates()

0     1
2     2
4     3
6     4
8     5
10    6
dtype: int64

In [ ]:
temp.drop_duplicates(keep="last")

1     1
3     2
5     3
7     4
9     5
11    6
dtype: int64

In [ ]:
movies.drop_duplicates().size

566

duplicated()

In [ ]:
temp.duplicated()

0     False
1      True
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9      True
10    False
11     True
dtype: bool

In [ ]:
temp.duplicated().sum()

np.int64(6)

5. isnull

In [28]:
temp2=pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])

In [29]:
temp2

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [30]:
temp2.size

10

In [33]:
temp2.count()

np.int64(7)

In [37]:
temp2.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [38]:
temp2[temp2.isnull()]

3   NaN
6   NaN
8   NaN
dtype: float64

In [39]:
temp2.isnull().sum()

np.int64(3)

6. dropna()

In [40]:
temp2.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

7. fillna()

In [41]:
temp2.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [42]:
temp2.fillna(temp2.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

8. isin()

In [45]:
# VK outs on 49 or 99
vk[(vk==49) | (vk==99)]

     match_no  runs
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN
..        ...   ...
210       NaN   NaN
211       NaN   NaN
212       NaN   NaN
213       NaN   NaN
214       NaN   NaN

[215 rows x 2 columns]

In [47]:
vk[vk.isin([49,99,69,80])]

     match_no  runs
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN
..        ...   ...
210       NaN   NaN
211       NaN   NaN
212       NaN   NaN
213       NaN   NaN
214       NaN   NaN

[215 rows x 2 columns]

9. apply()

In [52]:
movies.apply(lambda x: x.split())

AttributeError: 'Series' object has no attribute 'split'

In [ ]:
sub.apply()

10. copy()